# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# -----------------------------
# Virtual Environment
# -----------------------------
.venv/
venv/
env/

# -----------------------------
# Environment Variables
# -----------------------------
.env

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# macOS
# -----------------------------
.DS_Store

# -----------------------------
# Streamlit
# -----------------------------
.streamlit/

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Generated Reports
# -----------------------------
reports/

# -----------------------------
# Generated PDFs
# -----------------------------
AI_Cover_Letter.pdf
AI_Rewritten_Resume.pdf

# -----------------------------
# Temporary Files
# -----------------------------
*.tmp
*.bak

# -----------------------------
# Python Cache
# -----------------------------
.pytest_cache/
.mypy_cache/

# -----------------------------
# Build Files
# -----------------------------
build/
dist/